@page "/MedicationPage"
@using NkosisHavenAppApi.BusinessLogic.Services;
@inject MedicationService _medicationService

@if (medications == null)
{
    <p><em>Loading...</em></p>
}
else if (!medications.Any())
{
    <p><em>No medications available.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Medication ID</th>
                <th>Diagnosis ID</th>
                <th>Patient ID</th>
                <th>Medication Name</th>
                <th>Dosage</th>
                <th>Instructions</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in medications)
            {
                <tr>
                    <td>@item.MedicationId</td>
                    <td>@item.DiagnosisId</td>
                    <td>@item.PatientId</td>
                    <td>@item.MedicationName</td>
                    <td>@item.Dosage</td>
                    <td>@item.Instructions</td>
                    <td>@item.CreatedDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private IEnumerable<NkosisHavenAppApi.Data.Entities.Medication> medications;

    protected override async Task OnInitializedAsync()
    {
        await LoadMedicationsAsync();
    }

    private async Task LoadMedicationsAsync()
    {
        medications = await _medicationService.GetMedicationAsync();
    }
}
